---
---
<div class="text-wrap overflow-hidden w-full h-full p-5 bg-primary-900 border-2 border-primary-800 rounded-md hover:border-primary-500 hover:shadow-md hover:shadow-primary-700 duration-100">
    <slot/>
</div>
<!-- 
<style>
    .card:hover{
        animation: border-anm 2s infinite;
    }

    @keyframes border-anm {
        0%{
            border-top-color: #475569;
            border-bottom-color: #475569;
            border-right-color: #94a3b8;
            border-left-color: #94a3b8;
        }
        50%{
            border-top-color: #94a3b8;
            border-bottom-color: #94a3b8;
            border-right-color: #475569;
            border-left-color: #475569;
        }
        100%{
            border-top-color: #475569;
            border-bottom-color: #475569;
            border-right-color: #94a3b8;
            border-left-color: #94a3b8;
        }
    }
</style> -->