---
import { Icon } from 'astro-icon/components';

interface Props {
    title: string;
    description: string;
    href: string;
}

const { title, description, href } = Astro.props;
---
<a class="group flex justify-between items-center my-2 p-2 hover:bg-primary-700 rounded-md duration-100" href={href}>
    <div>
        <h3 class="text-primary-400"> { title }</h3>
        <p class="text-primary-600 group-hover:text-primary-500">{ description }</p>  
    </div>
    <p class="text-primary-400 text-lg hover:scale-110"> <Icon name='external-link'/></p>
</a>